#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.chat {
  position: fixed;
  z-index: 1;
  bottom: 100px;
  left: 0;
  width: 20rem;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.561);
  overflow: hidden;
}

.chat-list {
  width: 100%;
  height: 160px;
  overflow-y: auto;
}

.chat-item {
  width: 100%;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
}

.chat-input {
  width: 100%;
  height: 40px;
  border: none;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  border-top: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.561);
}